
/* Custom properties */
:root {
    --default-white: whitesmoke;
    --module-bg-color: rgba(73, 92, 112, .95);
    --progress-bar-color: #0063a6;
    --spinner-base-color: rgba(0, 174, 239, .15);
    --default-padding: 1em 1em 1em 1em;

}

@media(min-width:35rem){
    :root {
        --default-padding: 1em 2em 1em 2em;
    }
}

/* Generieke styling */
*:focus {
    box-shadow: 2px 2px;
    transition: .2s;    
}

@font-face {
    /* Font face kan externe font's downloaden. In dit geval gebruiken we local fonts
       voor & (U+26) */
    font-family: Ampersand;
    src: local('Baskerville-Italic'), local('GoudyOldStyleT-Italic'), local('Garamond-Italic'), local('Palatino-Italic');
    unicode-range: U+26;
}

html {
    background: #5C832F;
    background-image:
    linear-gradient(90deg, #284907 11px, transparent 0),
    linear-gradient(90deg, #382513 23px, transparent 0),
    linear-gradient(90deg, #363942 41px, transparent 0);
    background-size: 41px 100%, 61px 100%, 83px 100%;
}

body {
    display: grid;
    grid-gap: 1em;
    color: var(--default-white);
    margin: 0 0 2rem 0;
    font-family: 'Ubuntu', sans-serif; 
}

@media(min-width: 35rem){
    body {
        grid-template-columns: 1fr 2fr 2fr 1fr;
    }
}

main {
    /* Laat de content alleen in de middelste column. Geeft mooie spacing aan de zijkanten*/
    grid-column: 2 / 4;
}

li {
    margin-bottom: 0.1em;
}

a {
    border-bottom: 1px solid var(--default-white);
    text-decoration: none;
    color:var(--default-white);
}

a:focus, 
a:hover {
    border-bottom-color: transparent !important;
    transition: all 0.5s ease-in;
    box-shadow: none;
}

ol {
    list-style: none;
}

/* Header teksten */
body > h1 {
    color: var(--default-white);
    text-align: center;
    grid-column: span 4;
    font-family: Ampersand, Helvetica, sans-serif;
}

/* Navigatie Styling */
a[name="skip"] {
    /* We willen de knop altijd boven de pagina hebben als deze niet gefocust is */
    right: 63%;
    position: fixed;
    top: -2.5em;
}

a[name="skip"]:focus {
    top: 7.4em;
}

header {
    /* Laat de header op grid rij 1 beginnen */
    grid-row: 1;
    text-align: center;
    /* Floei over kolummen 1 tot 4 */
    grid-column: span 4;
} 

nav {
    grid-column: span 4;
    margin-bottom: 1em;
}

nav + h1 {
    align-self: center;
    margin: 50vh auto 0;
    transform: translateY(-50%);
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
    /* 
       Flexbox is een 1d column based rij, ideaal voor navigatie oplossingen 
       Definieer hier flexbox ipv in nav omdat het geen deep cascade heeft
    */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: center;
    padding: 1em 1em 1em 1em;
    background-color: #DC304B;
}

nav ul li a {
    padding: .5em .5em .5em .5em;
    /* display: inline-block; */
}
nav ul li a:focus,
nav ul li a:hover {
    background-color:rgba(73, 92, 112, .95);
    /* padding: .8em .8em .8em 0em; */
   
}

nav ul ul {
    display: block;
    visibility: hidden;
    opacity: 0;
    /* margin-top: 0.6em; */
    position: absolute;
    text-align: start;
    transition: visibility 0s, opacity 0.3s linear;
}

nav > ul > li:focus-within > ul ,
nav > ul > li:hover > ul {
    visibility: visible;
    opacity: 1;
}

nav ul ul li {
    display: block;
    position: relative;
    padding-bottom: 1em;   
}

/* Chat module */
ol[module='chat-module'] {
    background-color: var(--module-bg-color);
    padding: var(--default-padding);
    color: black;
    position: relative;
}

ol[module='chat-module']>li {
    display: flex;
    flex-direction: column;
}

ol[module='chat-module']>li>p {
    border-radius: 1.5em;
    padding: 0.5em;
    display: inline;
    border: 1px solid var(--default-white);
    background-color: var(--default-white);
    align-self: flex-start;
}

ol[module='chat-module']>li>p+footer {
    text-align: right;
    padding-right: 1em;
    color: var(--default-white);
}

ol[module='chat-module']>li:nth-of-type(odd) > p {
    text-align: right;
    border: 1px solid #25D366;
    background-color: #25D366;
    align-self: flex-end;
    color: black;     
}

ol[module='chat-module']>li:nth-of-type(even) > p + footer {
    text-align:left;
}

ol[module='chat-module']>li>footer>p:first-child:nth-last-child(n+2),
ol[module='chat-module']>li>footer>p:first-child:nth-child(n+2) ~ p {
    /* Selecteer all objecten na het eerste element */
    display: inline;
    border-bottom: 2px solid black; 
}


/* form styling for multiple forms */
@media(min-width: 35rem){
    form {
        width:50%;
        margin: auto;
    }
}
form {
    background-color: var(--module-bg-color);
    padding: var(--default-padding);
  
    /* border-radius: 1em; */
    /* border: 0.5em solid #53687E; */
    
}

/* Chat module form */
/* Ik benoem de ol[module=...] expliciet omdat dit in sommige regels nodig was,
en liever consistent ben met mijn regels. ol + form zou het zelfde effect moeten hebben in de meeste
gevallen.  */

/* Stijlt het form en de module samen zodat het meer als 1 component oogt als het gefocust is */
ol[module='chat-module']:focus + form,
ol[module='chat-module'] + form:focus {
    box-shadow: 2px 2px black;
    transition: .2s;   
}

ol[module='chat-module'] + form {
    padding: 0;
    height: 1px;
    margin: -1em 0em 0em 0em;
    opacity: 0;
    width: 100%;

    border-bottom-left-radius: 0.5em;
    border-bottom-right-radius: 0.5em;

    /* Verstop het formulier achter de chatmodule */
    z-index: -1;
    transform: translateY(-100%); 
    transition: height 1s, transform 0.3s ease-in-out;

    display: flex;
 
}

ol[module='chat-module'] + form label {
    display: none;
}

ol[module='chat-module'] + form button {
    flex: 1;
    width: auto;
}

ol[module='chat-module'] + form textarea {
    background: transparent;
    border: none;
    border-top: 1px solid black;
    flex: 3;
}

/* box-shadow: 1px 0px 12px 5px rgba(0,0,0,0.36); */
/* Zorgt ervoor dat er gefocust kan worden op het chat-module formulier vanuit vanuuit de chatmodule
en dat deze focus houd op hetmoment dat er in het formulier gewerkt wordt */

ol[module='chat-module'] + form:focus + form,
ol[module='chat-module'] + form:focus-within,
ol[module='chat-module']:hover + form, 
ol[module='chat-module']+form:hover {
    height: auto;
    opacity: 1;
    /* display:block;   */
    transform: none;
}
/* Voorkomt het herinitialiseren van de transitie*/
ol[module='chat-module']+form:focus,
ol[module='chat-module']+form:focus-within, 
ol[module='chat-module']+form:hover {
    transition: none;
}

form input[type=email],
form input[type=password] {
    background: transparent;
    outline: none;
    border: none;
    border-bottom: 2px solid #838383; 
    margin: 0.5em 0 1.6em 0;
    color: aliceblue;
    width: 100%;
    transition: all .8s ease;
    box-shadow: none;
}

input:focus:invalid, 
input:hover:invalid {
    border-color: red!important;
}

input:focus:valid,
input:hover:valid {
    border-color: #00FF48!important;
}

form:invalid button {
    filter: grayscale(100%)!important;
    color: var(--default-white);
    cursor: not-allowed;
}

form button[type=submit] {
    /* display: inline-block;  */
    background: #DC304B;
    border: none;
    padding: .4em .5em .4em .5em;
    margin: 0 auto;
    border-radius: .3em;
    color: var(--default-white);
    font-size: 1.2em;
    width:100%;
    transition: all .5s ease-in-out;
}

form button[type=submit]:focus,
form button[type=submit]:hover{
    filter: brightness(85%);
    box-shadow: none;
    border:none;
}
/* Form styling */

form a {
    display: block;
    text-align: center;
    border: none;
}

form label {
    display: block;
}

form span {
    display: block;
    margin: 0.5em 0 0.4em 0;
    text-align: center;
}

form span label,
form span input {
    display:inline-block;
}

section {
    display: grid;
    grid-gap: 1em;
    margin-top: 1em;
    align-items: start;
    grid-auto-flow: row column;  
}

@media(min-width: 35em){
    section {
        grid-template-columns: 2fr 2fr;
    }
}

/* Picture with subtitle module */
article {
    background-color: var(--module-bg-color);
    height: min-content;
    overflow: auto;
}

article * {
    font-family: 'Poppins', sans-serif;
}

article:nth-of-type(3){
    grid-column: 2;
    margin-top: -16em;
}

article > figure {
    max-width: 100%;
    width: min-content;
    height: min-content;
    margin: auto; 

}


article > figure > figcaption,
article h1,
article > p{
    margin: 0;
    padding: var(--default-padding);
}

article > figure > figcaption > footer {
    font-size: 0.8em;
}

article > figure > img { 
    max-width: inherit; 
}

/* Media item module */
article > img {
    overflow: auto;
    vertical-align: middle;
    float: left;
    padding-left: 2em;
    padding-top: 1.4em;
    padding-right: 0.6em;
} 

/* Rating module */
fieldset {
    margin: auto;
    background-color: var(--module-bg-color);
    width: -moz-max-content;    /* Firefox/Gecko */
    width: -webkit-max-content; /* Chrome */
    transition: .2s; 
    padding: var(--default-padding);
}

fieldset:focus-within,
fieldset:hover {
    transform: scale(1.1);
    box-shadow: 2px 2px;
   
}
fieldset > input[type="radio"]{
    opacity: 0;
}

fieldset input[type="radio"]:checked+label>svg {
    border: 1px solid black;
    border-radius: 100%;
    filter: grayscale(0);
}

fieldset input[type="radio"]:checked+label {
    transform:scale(1.1);
    color: black;
}

fieldset input[type="radio"]+label {
    display: inline-block;
    transition: all 0.2s ease-in;
}

fieldset input[type="radio"]+label>svg {
    display: block;
    margin: auto;
    text-align: center;
    border: 1px solid transparent;
    border-radius: 50%;
    filter: grayscale(100%);
    width: 2.3em;
    transition: all 0.2s ease-in;
}

/* step-indicator module */

section + nav {
    background-color: var(--module-bg-color);
    padding: var(--default-padding);
    margin: 1rem 0rem 1rem 0rem;
}

nav progress {
    width: 100%;
    position: absolute;
    border: 0;
}


nav h1 {
    padding-bottom: 1rem;
}

nav progress+ol {
    position: relative;
    display: flex;
    justify-content: space-around;
    top: -2rem;
    color: var(--default-white);
    padding: 0;
}

nav progress+ol li {
    background-color: var(--progress-bar-color);
    box-shadow: 0px 0px 0px 3px;
    display: block;
    height: 5rem;
    margin-top: -2.1rem;
    width: 5rem;
    line-height: 5rem;
    text-align: center;
    border-radius: 50%;
    padding-bottom: 75%;
    transition: 0.5s;
}

nav progress+ol li:focus-within,
nav progress[value]+ol li:focus-within,
nav progress+ol li:hover {
    /* border-color: black; */
    transform: scale(1.1);
    box-shadow: 10px 10px 25px 0px rgba(0,0,0,0.75),  0 0 0 3px rgba(0,0,42,.98);

}


nav progress+ol li:not(:first-child),
nav progress+ol li:not(:first-child) {
    background-color: var(--default-white);
    color: var(--progress-bar-color);
    border-color: var(--progress-bar-color);
}

nav progress+ol li:not(:first-child)>a {
    color: var(--progress-bar-color);
    border-color: var(--progress-bar-color);
}

progress[value]
{
    overflow: hidden;
    height: 1rem;
    background-color: #eee;
    border-radius: 1rem;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.25) inset;
    position: relative;
    transition: 0.5s;
}

/* Loader 
https://projects.lukehaas.me/css-loaders/*/
.spinner {
    height: 5rem;
    width: 5rem;
    margin: 0 auto;
    animation: rotation .6s infinite linear;
    border-left: .5rem solid var(--spinner-base-color);
    border-right: .5rem solid var(--spinner-base-color);
    border-bottom: .5rem solid var(--spinner-base-color);
    border-top: .5rem solid rgba(0, 174, 239, .8);
    border-radius: 100%;
  }
    
  @keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }