*:focus {
    outline: 1px SOLID red;
}

:root {
    --min-width: 2em;
}

body {
    display: grid;
    grid-gap: 1em;
    grid-template-columns: 1fr 4fr 1fr;
 
}

header {
    /* Instruct the header to start on row 1 */
    grid-row: 1;
    background: #cccccc;
    text-align: center;

    /* Span across columns 1 to 4 */
    grid-column: span 3;
}

content {
    grid-column: 2;
}

nav {

    grid-column: span 3;
    background: #cccccc;

}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
  }



nav ul li {
    font-family: 'Oswald', sans-serif;
    font-size: 1.2em;

    border-bottom: 1px solid #888;
    display: inline-block;
    /* display: inline-block; */
}

nav ul ul{
    display:none;
}

nav ul li:focus-within > ul {
    display:block;
}

a:focus {
    font-weight: bold;
}
a {
    display: inline;
}

a[name="skip"] {
    /* We willen de knop altijd boven de pagina hebben als deze niet gefocust is */
    right: 63%;
    position: fixed;
    top: -2.5em;
}

a[name="skip"]:focus {
    top: 4em;
}

svg {
    width: 2em;
}


fieldset input[type="radio"]{
    opacity: 0;
}

fieldset input[type="radio"] label{
    float: left;
}    

fieldset input[type="radio"]:checked+label>svg {
    border: 1px solid black;
}